<div class="container">
    <div class="row">
        <h1 class="display-4">About me</h1>
    </div>
    <div class="row">
        <div class="col"> <img src="./Assets/myPicture.jpg" alt="My Picture" radius="10"> </div>
    </div>
</div>
