<div class="container">
    <div class="row">
        <h1 class="display-4">About me</h1>
    </div>
    <br/>
    <div class="row ">
        <div class="col-md-4 text-center"> <img class="rounded-circle" src="/Assets/Images/myPicture.jpg" alt="My Picture" height="300" width="300"> </div>
        <div class="col-md-8 d-flex justify-content-center"><p class="lead"> Logical and results-driven Software Engineering student at Centennial College, dedicated to building and optimizing user-focused software with various business objectives. Judicious and creative when crafting effective websites, apps, and platforms. Technically proficient, analytical problem solver and team player with calm and focused demeanour.</p></div>
    </div>
</div>
