<div class="container contact">
    <h1 class="display-4">Contact me.</h1>
    <div class="row justify-content-md-center" >
        <div class="col col-lg-4 p-0">
          <div class="contact-background text-center">
            <p class="h3">h3. Bootstrap heading</p>
            <p class="h3">h3. Bootstrap heading</p>
            <p class="h3">h3. Bootstrap heading</p>
          </div>
        </div>
        <div class="col col-lg-4">
          
        </div>
      </div>
</div>
