<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, I am Fahmid Ovi.  </h1> 
         <h1 class="display-5">Welcome to my portfolio site!</h1> 
        <p class="lead">I am a student in Software Engineering Technician at Centennial College.</p>
        <blockquote class="blockquote">
            <p class="mb-0">Life is short, you have to enjoy it doing what you love.</p>
            <footer class="blockquote-footer">- Fahmid Ovi<cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        <hr class="my-4">
        <p>To know more about me click the button below. Thank you.</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">About me</a>
      </div>
</div>
