<div class="container">
    <h1 class="display-5">My Projects.</h1> 
        <div class="row justify-content-center">
        <div class="col">
            <div class="container-fluid border border-primary p-0 thumbnail">
                <img class="mb-1" src="/Assets/Images/project1.png" alt="Project 1" width="100%">
                <div class="container">
                    <h5 class="text-center" style="color:rgb(38,144,201)">Draw Table</h5>
                    <p>
                        Website to draw tables taking user inputs.
                    </p>
                    <ul>
                        <li>
                            <p>HTML 5</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>JavaScript</p>
                        </li>
                    </ul>
                </div> 
            </div>   
        </div>
        <div class="col">
            <div class="container-fluid border border-primary p-0 thumbnail">
                <img class="mb-1" src="/Assets/Images/project2.png" alt="Project 2" width="100%">
                <div class="container">
                    <h5 class="text-center" style="color:rgb(38,144,201)">The Keg Restaurant website.</h5>
                    <p>
                        Website for The Keg Restaurant.
                    </p>
                    <ul>
                        <li>
                            <p>HTML 5</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>JavaScript</p>
                        </li>
                    </ul>
                </div> 
            </div>   
        </div>
        <div class="col">
            <div class="container-fluid border border-primary p-0 thumbnail">
                <img class="mb-1" src="/Assets/Images/project3.png" alt="Project 3" width="100%">
                <div class="container">
                    <h5 class="text-center" style="color:rgb(38,144,201)">Weather Forecast website.</h5>
                    <p>
                        Website for weather forecasting.
                    </p>
                    <ul>
                        <li>
                            <p>HTML 5</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>JavaScript</p>
                        </li>
                    </ul>
                </div> 
            </div>   
        </div>
    </div>
</div>
