<div class="container">
    <h1 class="display-5">My Projects.</h1> 
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/Assets/Images/project1.jpg" alt="project1">
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</div>
