<div class="container">
    <h1 class="display-5">My Projects.</h1> 
        <div class="row justify-content-center">
            <div class="col">
                <div class="container-fluid border border-primary p-0">
                    <img src="/Assets/Images/project1.png" alt="Project 1" width="100%">
                    <h5 class="display-6">Draw Table</h5>
                </div>
                
            </div>
            <div class="col">
                <div class="container-fluid border border-primary p-0"><img src="/Assets/Images/project2.png" alt="Project 2" width="100%"></div>
                
            </div>
            <div class="col">
                <div class="container-fluid border border-primary p-0"><img src="/Assets/Images/project3.png" alt="Project 3" width="100%"></div>

        </div>
    </div>
</div>
