<div class="container justify-content-center">
    <h1 class="display-4">My services.</h1>
    <div class="row  justify-content-md-center">
        <div class="col-md-auto">
            <img src="/Assets/Images/web.jpg" alt="Web Logo" width="150">
        </div>
        <div class="col col-lg">
            <h1 class="display-6 service-header">HTML5</h1>
        </div>  
    </div>  
   <div class="row">
        <div class="col">
         <img src="/Assets/Images/html.png" alt="HTML Logo" width="150" height="150">
        </div>
        <div class="col">
            <h1 class="display-6 service-header">HTML5</h1>
        </div> 
   </div>  
   <div class="row">
        <div class="col">
            <img src="/Assets/Images/html.png" alt="HTML Logo" width="150" height="150">
        </div>
        <div class="col">
            <h1 class="display-6 service-header">HTML5</h1>
        </div> 
   </div>     
        

    </div>
</div>
