<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4 class="lead">HTML5</h4>
        </div>
        <div class="col"><h4 class="lead">CSS</h4></div>
        <div class="col"><h4 class="lead">JavaScript</h4></div>

    </div>
</div>
