<div class="container">
    <h1 class="display-4">My services.</h1>
    <div class="row  text-center">
        <div class="col">
            <h4 class="lead">HTML5</h4>
        </div>
        <div class="col"><h4 class="lead">CSS</h4></div>
        <div class="col"><h4 class="lead">JavaScript</h4></div>

    </div>
</div>
