<div class="container">
    <h1 class="display-4">My services.</h1>
    <div class="row  text-center">
        <div class="col">
            <img src="/Assets/Images/html.png" alt="HTML Logo" width="150" height="150">
            <h3 class="lead">HTML5</h3>
        </div>
        <div class="col">
            <img src="/Assets/Images/css.png" alt="HTML Logo" width="150" height="150">
            <h3 class="lead">CSS</h3>
        </div>
        <div class="col">
            <img src="/Assets/Images/js.png" alt="HTML Logo" width="150" height="150">
            <h3 class="lead">JavaScript</h3>
        </div>

    </div>
</div>
