<div class="container justify-content-center services">
    <h1 class="display-4">My services.</h1>
    <div class="row">
        <div class="col-md-auto">
            <img src="/Assets/Images/web.png" alt="Web Logo" width="170">
        </div>
        <div class="col my-auto">
            <h1 class="service-header ">Web Development</h1>
            <p class="lead">
                Passionately develop responsive web application using HTML5, CSS and JavaScript.
            </p>
        </div>  
    </div>  
    <div class="row">
        <div class="col-md-auto">
            <img src="/Assets/Images/csharp.png" alt="Web Logo" width="170">
        </div>
        <div class="col my-auto">
            <h1 class="service-header ">C# Programming</h1>
            <p class="lead">
                Develop and maintain application using the C# programming language on the .NET platform.
            </p>
        </div>  
    </div>    
    <div class="row">
        <div class="col-md-auto">
            <img src="/Assets/Images/db.png" alt="Web Logo" width="170">
        </div>
        <div class="col my-auto">
            <h1 class="service-header ">Oracle Database</h1>
            <p class="lead">
                Install, configure and maintain data using Oracle database.
            </p>
        </div>  
    </div>      
        

    </div>
</div>
